<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="30">
    <mat-toolbar >
      <span>JWT TOKEN VERIFICATION</span>
    </mat-toolbar>

    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput placeholder="User Name" type="text" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
      </mat-form-field>
      <button mat-button type="submit">Log In</button>
    </form>
  </mat-card>
</div>
